.App-logo {
    font-weight:bold;
}

.App-header {
    width: 100%;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.navbar {
    display: flex;
    width:100vw;
    justify-content: center;
    align-items: center;
    gap:100px;
}  

ul {
    display: flex;
    gap:90px;
    list-style: none;
    padding:10px 50px;
    border: white solid 1px;
}

.navbar a {
    text-decoration: none;
    color: white;
}