
button{
    background-color: red;
    color:white;
    padding:10px;
    border: none;
    border-radius: 5px;
  
  }
.logout{
    width:100vw;
    margin-top: 3px;
    display: flex;
    justify-content: flex-end;
}

.details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.overall{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width:100vw;
}