* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.register {
    background-color: white;
    width: 40em;
    height: 40em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alter-register {
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alter-register div {
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.google {
    background-image: url(../icons/google.png);
    /* transition: 0.5s; */
}

.google:hover {
    transform: scale(1.2);
}

input {
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}

input:focus {
    outline-color: red;
    /*rgb(32, 177, 255)*/
}

.register-button {
    background-color: red;
    width: 40%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.register-button:hover {
    transform: scale(1.2);
}

.text {
    position: relative;
}

.hide {
    position: absolute;
    transform: scale(0); /* prevent popup from showing */
}

.register-popup {
    position: absolute;
    height: 10em;
    width: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 20em;
    transform: scale(1.2);
    transition: 1.5s;
}

.google-register {
    width: 50em;
    height: 5em;
    background-position: center;
    background-size: contain;
    background-image: url(../icons/google.png);
}