.overall-container {
  background-color: lightgray;
  box-sizing: border-box;
  padding: 50px 50px 0px 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.instructions {
  width: 18vw;
  background-color: grey;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 20px;
}
table {
  background-color: grey;
  padding: 20px;
  width: 50vw;
  height: 60vh;
  text-align: left;
  border-radius: 20px;
  font-size: 20px;
}
